body{
    font-family: 'Lato', sans-serif;
}
/* header section styles start */
.header-title{
color: #272727;
font-size: 80px;
font-style: normal;
font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}
.btn-primary{
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
padding:20px 43px ;
}